*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f2f6fc;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

/* MAIN CONTAINER */

.container{
width:900px;
height:520px;
display:flex;
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 0 20px rgba(0,0,0,0.1);
}


/* LEFT SIDE */

.left{
width:50%;
background:linear-gradient(135deg,#2b6fd6,#4c8df6);
color:white;
padding:40px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.left h1{
margin-bottom:20px;
}

.left p{
margin-bottom:20px;
}

.left img{
width:150px;
}


/* RIGHT SIDE */

.right{
width:50%;
display:flex;
justify-content:center;
align-items:center;
}

.login-box{
width:300px;
}

.login-box h2{
margin-bottom:5px;
}

.subtitle{
color:gray;
margin-bottom:20px;
}

form{
display:flex;
flex-direction:column;
}

label{
margin-top:10px;
margin-bottom:5px;
}

input{
padding:10px;
border:1px solid #ccc;
border-radius:5px;
}

.options{
display:flex;
justify-content:space-between;
margin-top:10px;
font-size:14px;
}

button{
margin-top:20px;
padding:12px;
border:none;
background:#ff7a18;
color:white;
font-size:16px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#e66b10;
}

.signup{
margin-top:15px;
text-align:center;
}

.signup a{
color:#2b6fd6;
text-decoration:none;
font-weight:bold;
}
#div4{
    display: inline-block;
}
