*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f3f6fb;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
width:500px;
border-radius:10px;
box-shadow:0 0 15px rgba(0,0,0,0.1);
}

h1{
text-align:center;
margin-bottom:10px;
color:#2b6fd6;
}

.subtitle{
text-align:center;
margin-bottom:20px;
color:gray;
}

form{
display:flex;
flex-direction:column;
}

h3{
margin-top:15px;
margin-bottom:10px;
color:#444;
}

label{
margin-top:10px;
margin-bottom:5px;
}

input, select, textarea{
padding:10px;
border:1px solid #ccc;
border-radius:5px;
font-size:14px;
}

button{
margin-top:20px;
padding:12px;
background:#ff7a18;
color:white;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#e66b10;
}
